*{
    margin: 0;
    padding: 0;
    font: inherit;
}

:root{
    --clr-neutral-100: #eeeeee;
    --clr-neutral-900: #333333;
    --clr-tru-blue: #55bbec;
    --clr-tru-blue-active: #49a1ca;
}

img,
picture,
svg
{
  max-width: 100%;
  display: block;
}

body{
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
}

main{
    width: 90%;
    height: 100vh;
    margin: auto;
    max-width: 2000px;
}

h1{
    font-size: 2rem;
    font-weight: bold;
    margin: auto;
    margin-bottom: 0.5em;
    
}

h2{
    font-size: 1.5rem;
    font-weight: bold;
}

a{
    color: var(--clr-tru-blue);
}

.go-back-container{
    margin: auto;
}

.go-back{
    display: inline-block;
    border: 1px solid var(--clr-neutral-100);
    padding: 10px;
    margin-bottom: 0.5em;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.4s;
    font-weight: bold;
    font-size: 1.2rem;
}

.go-back:hover{
    background-color: var(--clr-tru-blue-active);
    border-color: var(--clr-tru-blue-active);
    color: var(--clr-neutral-100);
}

.index-container{
    width: 100%;
    margin: auto;
    margin-left: 1rem;
}

.key{
    display: inline-block;
    border: 1px solid var(--clr-neutral-100);
    border-radius: calc(1.618em / 6);
    padding: 5px 10px;
    text-align: center;
    text-anchor: middle;
    font-weight: bold;
    margin: 2px;
}

.keymap{
    border: 1px solid var(--clr-neutral-100);
    border-radius: 16px;
    padding: 10px;
}

.keymap > h2{
    margin-bottom: 0.25em;
    padding: 10px;
}


.remap{
    width: 50%;
}
.remap td{
    width: 30%;
}

.arrows{
    text-align: center;
}

.sections {
    display: grid;
    margin: auto;

    gap: 0.5em;
    grid-template-columns: 1fr 1fr;

}

@media (max-width: 1400px) {
    .sections {
        grid-template-columns: 1fr;
    }
}

table{
    width: 100%;
}

.info{
    color: lightcoral;
}

td{ 
    padding: 10px;
    width: 50%;
}