*{
    margin: 0;
    padding: 0;
    font: inherit;
}

:root{
    --clr-neutral-100: #eeeeee;
    --clr-neutral-900: #333333;
}

img,
picture,
svg
{
  max-width: 100%;
  display: block;
}

body{
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 2rem;
    margin: 0.2em;
}

.key{
    border: 1px solid var(--clr-neutral-100);
    border-radius: calc(1.618em / 6);
    padding: 2px 10px;
    text-align: center;
    text-anchor: middle;
    font-weight: bold;
}